
*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    weight: 100%;

    .header .logo{
        float: left;
        margin: 10px;
    
    }
    
    .header-right{
        float: right;
        margin: 1%;
        padding: 6px 100px;
        outline: none;
    }
    
    
    .header-right a{
        color: azure;
        padding: 8px 10px;
        font: 16px;
        border: 2px solid #fff;
        border-radius: 50px;
        background: transparent;
        margin-right: 10px;
        text-decoration: none;
    } 
    
    .header-right a:hover{
        background-color: #ff5722;
        transition-duration: 1s;
        width: 100px;
    }
}
.footer{
    background-color: #efefef;
    padding: 50px;
}

.contact-us i .fa{
    margin:4px ;
}
.copyright{
    text-align: center;
}