*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    weight: 100%;
}




.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.pexels.com/photos/1024967/pexels-photo-1024967.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    height: 90vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .logo{
    float: left;
    margin: 10px;

}

.header-right{
    float: right;
    margin: 1%;
    padding: 6px 100px;
    outline: none;
}


.header-right a{
    color: azure;
    padding: 8px 10px;
    font: 16px;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    margin-right: 10px;
    text-decoration: none;
} 

.header-right a:hover{
    background-color: #ff5722;
    transition-duration: 1s;
    width: 100px;
}

.hero-text{
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

.hero-text h1{
    font-size: 45px;
    text-align: center;
}

.hero-text p{
    text-align: center;
}

.form-control{
    border: 5px;
    border-radius: 40px;
    box-shadow: none;
}


.main{
    padding: 0%;
    margin: 0%;
}

.main h2{
    text-align: center;
    margin-top: 60px ;
    margin-bottom: 40px;
    font-style: italic;
}
.featured-image img{
    width: 100%;
    height: 500px;
    margin-top: 10px;
    position: relative; 
}

.featured-box{
}

.featured-price{
    width: 60px;
    height: 60px;
    background: #ff5722;
    color: #ffffff;
    border-radius: 50%;
    padding:10px 10px 10px ;
    font-weight: 600;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 200px;
    z-index: 1;
} 
.featured-rating{
    position: absolute;
    bottom: -5px;
    padding: -2px;
    background: #fff;
    
}
.fa{
    color: #ff5722;
}
.featured-details {
    text-align: justify;

}
.featured-details h4{
    padding-top: 20px;
}
.featured-details .fa{
    margin-right: 5px;
}
.why-us{
    margin-top : 50px;  
    text-align: center;
    font-style: italic;
}

.why-box .fa{
    width: 100px;
}

.why-us .row {
    margin-top : 60px;
    margin-bottom: 60px;
    background-color: #ECF0F1;
    padding: 50px 50px;
}
    
    
}
.why-us h2{
    text-align: center;
    font-style: italic;
    font-weight: 600;
}

.testimonials{
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    flex: 25%;
    max-width: 25%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial{
    background: #fff;
    padding: 30px;
}

.testimonial img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.footer{
    background-color: #efefef;
    padding: 50px;
}

.contact-us i .fa{
    margin:4px ;
}
.copyright{
    text-align: center;
}

/* About Us */

.about-center h1 {
    text-align: centre;
}


/* Contact Form */
#contact-form .form-group {
    margin-bottom: 20px;
  }
  
  #contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  #contact-form input, 
  #contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
  }
  
  #contact-form textarea {
    height: 200px;
  }
  
  #contact-form input:focus, 
  #contact-form textarea:focus {
    outline: none;
    border-color: #f7c08a;
  }

